body{
    background-image: url(images/Main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    color: rgb(65, 50, 50);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
span{
    color:rgb(33, 33, 61);
}
ul{
    margin-left: 60%;
}
li{
    list-style: none;
    display: inline;
    margin-right: 25px;

}
a{
    text-decoration: none;
}
li,a {
    color: rgb(28, 25, 25);
    font-size: large;
    font-weight: bold;
    
}